---
import { Icon } from "astro-icon/components";
import SocialList from "@/components/SocialList.astro";
import PostPreview from "@/components/blog/PostPreview.astro";
import { Image } from 'astro:assets';
import { getAllPosts, sortMDByDate } from "@/data/post";
import PageLayout from "@/layouts/Base.astro";
import pub1Image from '../assets/pub1.png';
import pub2Image from '../assets/pub2.png';

const MAX_POSTS = 10;
const allPosts = await getAllPosts();
const allPostsByDate = sortMDByDate(allPosts).slice(0, MAX_POSTS);

const cactusTech: {
	author: string[];
  note: string;
	title: string;
	booktitle: string;
	time: string;
	doi: string;
  paper: string;
  code: string;
  image: string;
}[] = [
	{
		author: ["Xu Pan", "Zimin Xia", "Xianwei Zheng*"],
		note: "(* Corresponding author)",
			title: "Scale-aware Co-visible Region Detection for Hierarchical Image Matching",
			booktitle: "ISPRS Journal of Photogrammetry and Remote Sensing (Under Review)",
			time: "2025",
			doi: "",
		paper: "",
		code: "https://github.com/Geo-Tell/SCoDe",
		image: pub1Image.src,
	},
	{
		author: ["Xu Pan", "Qiyuan Ma", "Jintao Zhang", "Xianwei Zheng*"],
		note: "(* Corresponding author)",
			title: "Scale-aware Co-visible Region Detection for Hierarchical Image Matching",
			booktitle: "The IEEE/CVF Conference on Computer Vision and Pattern Recognition (In Preparation)",
			time: "2026",
			doi: "",
		paper: "",
		code: "",
		image: "",
	},
  // {
  //   author: ["Xu Pan", "Jintao Zhang", "Mingyue Dong", "Zimin Xia", "Xianwei Zheng*"],
  //   note: "(* Corresponding author)",
	// 	title: "CoSAM: Segment Anything Co-Visible for Robust Feature Matching",
	// 	booktitle: "The IEEE/CVF Conference on Computer Vision and Pattern Recognition (Submitted)",
	// 	time: "2025",
	// 	doi: "",
  //   paper: "",
  //   code: "",
  //   image: pub2Image.src,
	// },
];
---

<PageLayout meta={{ title: "Home" }}>
	<section>
		<h1 class="title mb-6">Hello World!</h1>
		<p class="mb-4">
			Hi, I’m currently a Master's student in
			<a class="cactus-link" href="https://liesmars.whu.edu.cn/">The State Key Lab. LIESMARS</a>
			at <a class="cactus-link" href="https://en.whu.edu.cn/">Wuhan University</a>, under the guidance of
			<a class="cactus-link" href="https://jszy.whu.edu.cn/zhengxianwei/zh_CN/index.htm">Prof. Xianwei Zheng</a>.
			I received my B.Eng. in Remote Sensing Science and Technology from Wuhan University in 2023.
			I have previously researched GenAI applications in image and video generation during my internship at
			<a class="cactus-link" href="https://www.baidu.com/">
			<Icon aria-hidden="true" class="h-4 w-4 inline align-text-bottom mr-1" focusable="false" name="simple-icons:baidu" />Baidu (International Tech R&D Dept.)</a>.
			My research interests lie in <em>computer vision</em> and <em>generative AI</em>, 
			with a focus on unifying 2D and 3D representations through image correspondence, cross-view understanding, and structure-aware generation. 
			I aim to develop general spatial intelligence models that bridge perception, geometry, and trustworthy generation at scale, 
			and to contribute to <em>the next generation of spatially grounded, intelligent visual systems</em>.
		</p>
		<SocialList />
	</section>
	<!--<section aria-label="Blog post list" class="mt-16">-->
	<!--	<h2 class="title mb-4 text-xl">Posts</h2>-->
	<!--	<ul class="space-y-4">-->
	<!--		{-->
	<!--			allPostsByDate.map((p) => (-->
	<!--				<li class="grid gap-2 sm:grid-cols-[auto_1fr] sm:[&_q]:col-start-2">-->
	<!--					{/* @ts-ignore-next-line - issue with -> @astrojs/check@0.9.3 */}-->
	<!--					<PostPreview post={p} />-->
	<!--				</li>-->
	<!--			))-->
	<!--		}-->
	<!--	</ul>-->
	<!--</section>-->
	<section class="mt-16">
		<h2 class="title mb-4 text-xl">Publications</h2>
		<dl class="space-y-4">
			{
				cactusTech.map(({ author, note, title, booktitle, time, doi, paper, code, image }) => (
					<div class="flex flex-col gap-2 sm:flex-row">
						<dt>
							<span class="flex">
								<span>
                  <span class="text-accent"><strong>{title}</strong></span><br>
									{author.map((name: string, index: number) => (
										<span style={{ fontWeight: name === "Xu Pan" ? "bold" : "normal" }}>
											{name}{index < author.length - 1 ? ", " : ""}
										</span>
									))}
                  {note && note}
                  <br>
                  <em>{booktitle}</em>
                  <br>
                  {time}
                  <br>
                  {doi && <a class="cactus-link" href={doi}>DOI</a>}
                  {paper && <a class="cactus-link" href={paper}>PAPER</a>}
                  {code && <a class="cactus-link" href={code}>CODE</a>}
                  <br>
                  <img src={image} alt="[Image Preparing]"/>
								</span>
							</span>
						</dt>
					</div>
				))
			}
		</dl>
	</section>
</PageLayout>
