---
import { Icon } from "astro-icon/components";

type IconName =
	| "lucide:mail"
	| "simple-icons:x"
	| "simple-icons:github"
	| "simple-icons:linkedin"
	| "simple-icons:googlescholar"
	| "simple-icons:researchgate"
	| "simple-icons:semanticscholar"
	| "simple-icons:huggingface"
	| "simple-icons:orcid";

interface SocialLink {
	friendlyName: string;
	link: string;
	name: IconName;
}

const socialLinks: SocialLink[] = [
	{
		friendlyName: "Email",
		link: "mailto:panxurs@whu.edu.cn",
		name: "lucide:mail",
	},
	{
		friendlyName: "X",
		link: "https://x.com/xupan_x",
		name: "simple-icons:x",
	},
	{
		friendlyName: "Github",
		link: "https://github.com/TwSphinx54",
		name: "simple-icons:github",
	},
	{
		friendlyName: "Linkedin",
		link: "https://linkedin.com/in/x-pan",
		name: "simple-icons:linkedin",
	},
	{
		friendlyName: "Google Scholar",
		link: "https://scholar.google.com/citations?user=IuCPqLcAAAAJ",
		name: "simple-icons:googlescholar",
	},
	{
		friendlyName: "ResearchGate",
		link: "https://www.researchgate.net/profile/Xu-Pan-10",
		name: "simple-icons:researchgate",
	},
	{
		friendlyName: "Semantic Scholar",
		link: "https://www.semanticscholar.org/author/Xu-Pan/2387896133",
		name: "simple-icons:semanticscholar",
	},
	{
		friendlyName: "ORCiD",
		link: "https://orcid.org/0009-0007-3297-0385",
		name: "simple-icons:orcid",
	},
	{
		friendlyName: "Hugging Face",
		link: "https://huggingface.co/SSSSphinx",
		name: "simple-icons:huggingface",
	},
];
---

<style>
	.social-icon-wrapper {
		display: grid;
		place-items: center;
		width: 2rem;
		height: 2rem;
		border-radius: 0.375rem;
		background-color: rgb(243 244 246);
		color: rgb(55 65 81);
		transition: background-color 150ms ease, color 150ms ease;
	}
	.social-icon-wrapper:hover {
		background-color: hsl(var(--theme-accent));
		color: #fff;
	}
	:global(:root[data-theme="dark"]) .social-icon-wrapper {
		background-color: rgb(31 41 55);
		color: rgb(229 231 235);
	}
	:global(:root[data-theme="dark"]) .social-icon-wrapper:hover {
		background-color: hsl(var(--theme-accent));
		color: #fff;
	}
	.social-icon-wrapper svg {
		width: 1.25rem;
		height: 1.25rem;
		display: block;
		transform-origin: 50% 50%;
	}
</style>

<div class="flex flex-wrap items-center gap-3">
	<p class="text-sm text-gray-500 dark:text-gray-400">Find me on</p>
	<ul class="flex flex-wrap items-center gap-2">
		{
			socialLinks.map((link) => {
				return (
					<li>
						<a
							href={link.link}
							aria-label={link.friendlyName}
							title={link.friendlyName}
							target="_blank"
							rel="noreferrer"
							class="block"
						>
							<span class="social-icon-wrapper" data-icon={link.name}>
								<Icon
									name={link.name}
									class={link.name === "lucide:mail" ? "func-icon" : undefined}
								/>
							</span>
						</a>
					</li>
				);
			})
		}
	</ul>
</div>
